---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import  Card  from '../pages/accessible-components.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">

      <h2 class="mb-16 text-6xl">Для работы</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:tailwind" title="Отчет по продажам">
          Автоматический сбор и компиляция данных из 1С и нескольких документов - в один exel файл.
          <br></br>
          <button type="background"  style=" border-radius: 5px;";
           <a href="#">перейти</a></button>
        </Feature>
        <Feature icon="mdi:wheelchair-accessibility" title="Отчеты ГСМ">
          Автоматически формируемые отчеты ГСМ, база автомобилей и документов менеджеров, утвержденные маршруты
            
            <br></br>
          <button type="background"  style=" border-radius: 5px;"
           <a href="#">перейти</a></button>
        </Feature>
        <Feature icon="mdi:looks" title="Список задач">
          Подключи почтовый ящик, выбери слова "триггер" - и не упусти ни одного письма с пометками "ВАЖНО"СУПЕРВАЖНО"УЛЬТРАВАЖНО".
          
            <br></br>
          <button type="background"  style=" border-radius: 5px;";
           <a href="#/">перейти</a></button>
        </Feature>
        <Feature icon="mdi:eslint" title="Заявки">
Плановые и внеплановые заявки. Авто парсинг сайтов Авито, Леруа, Петрович. Авто заполнение таблиц. Генерация текста комментария к заявке с помощью chatGPT        </Feature>
        
        <Feature icon="mdi:book-open-page-variant" title="Матрицы, Стандарты, Документы">
          This theme comes with a fully integrated blog, dynamic pages and SEO optimization.
        </Feature>
        
        <Feature icon="mdi:language-markdown" title="Срочная рассылка">
          Используй удобное окно, с доступом ко всем мессенджерам, где заранее можно определить контакты и группы в которые сообщения будут пересылаться
        </Feature>
       
        <Feature icon="mdi:theme-light-dark" title="Облачные сервера">
          Подключай, выгружай-загружай любые файлы методом перетаскивания
        </Feature>
       
        <Feature icon="mdi:cog" title="Инструменты дизайнера">
          Создать QR код, сконвертировать и автоматически переимоновать /обрезать изображения, удалить задний фон одним кликом, или сгенерировать изображение 
        </Feature>
       
        <Feature icon="mdi:lighthouse" title="Штат, Табель, Видеокамеры">
          Бета-тестирования доступа к камерам , и авто-обработок  и расшифровок УТ и КОРП
       
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>SOLNCE helpers</h2>
    <p class="text-2xl">
      This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a
      lot of others are integrated using a <a href="https://github.com/markteekman/accessible-astro-components"
        >separate package</a
      >. They'll get you up and running in building an accessible solution for your visitors.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>WCAG 2.1 AA Compliant</h2>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia>
  <section class="mt-64 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="130" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section>