---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Alenke for <a href="#">Help</a>. Made with ❤️ by <a href="https://github.com/remarkmediagroup">CatCatCat</a>.
      </p>
    </div>
  </section>
</footer>
